<template>
  <div class="container">
    <CartItem
      v-for="item in Object.entries(this.$store.state.cart)"
      :key="item[0]"
      :item="item"
    />
  </div>
</template>

<script>
export default {}
</script>

<style></style>
