<template>
  <div class="item-container">
    <img :src="product.image" alt="" />
    <div class="text-container">
      <h4>{{ product.name }}</h4>
      <p>{{ product.description }}</p>
      <div>
        <h4>Quantity: {{ item[1] }}</h4>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['item'],
  computed: {
    product() {
      return this.$store.getters.getProductById(this.item[0])
    },
  },
}
</script>

<style scoped>
.item-container {
  display: flex;
  margin: 3rem 0;
}
.text-container {
  padding: 0 1rem;
}
img {
  width: 10.5rem;
  border-radius: 0.5rem;
  height: 11rem;
}
p {
  font-size: 0.8rem;
  color: grey;
}
</style>
