<template>
  <div class="hero container d-flex">
    <h1 class="header fs-1 fw-bolder">Online store made with Nuxt</h1>
    <p class="fw-light unfocused-t">
      Nuxt allows for server side rendering and easier vue file management and
      routing
    </p>
  </div>
</template>

<script>
export default {}
</script>

<style scoped>
.hero {
  height: 30vh;
  position: relative;
  align-items: flex-start;
  padding: 5rem 0;
  flex-direction: column;
}
.unfocused-t {
  color: gray;
  max-width: 30em;
}
</style>
