<template>
  <div class="card ml-2" style="width: 14rem">
    <img
      :src="`https://source.unsplash.com/featured/?${product.name}`"
      class="card-img-top img-thumbnail img-fluid"
      style="height: 200px"
    />
    <div class="card-body">
      <h5 class="card-title">{{ product.name }}</h5>
      <h6 class="card-title font-light">{{ product.price }} K.D</h6>
      <p class="card-text">
        {{ product.description }}
      </p>
      <NuxtLink :to="`/products/${product.id}`" class="btn btn-primary">
        More</NuxtLink
      >
    </div>
  </div>
</template>

<script>
export default {
  props: ['product'],
}
</script>

<style></style>
