<template>
  <div class="container r">
    <h4 class="header">{{ info.title }}</h4>
    <p class="snippet">{{ info.lower }}</p>
    <div class="cards-container row">
      <PromoProductCard
        v-for="product in this.$store.state.products.slice(3, 7)"
        :key="product.id"
        :product="product"
      />
    </div>
  </div>
</template>

<script>
export default {
  props: ['info'],
}
</script>

<style>
.r {
  margin: 0 0 30px 0;
}
.cards-container {
  gap: 10px;
}
</style>
