<template>
  <div class="card col">
    <img
      :src="`https://source.unsplash.com/featured/?${product.name}`"
      class="card-img-top"
      alt=""
      style="height: 200px"
    />
    <div class="card-body">
      <h5 class="card-title">{{ product.name }}</h5>
      <h6 class="card-title font-light">
        <span class="strikethrough"> {{ product.price }} K.D</span>
        {{ product.price - 10 }} K.D
      </h6>
      <p class="card-text">
        {{ product.description }}
      </p>
      <NuxtLink :to="`/products/${product.id}`" class="btn btn-primary"
        >View More</NuxtLink
      >
    </div>
  </div>
</template>

<script>
export default {
  props: ['product'],
}
</script>

<style>
.strikethrough {
  text-decoration: line-through;
}
</style>
