<template>
  <div class="d-flex justify-content-between">
    <div class="review-card">
      <div class="image-container">
        <img :src="review.image" alt="" />
      </div>
      <div class="text-container">
        <h6>
          {{ review.firstName }} {{ review.lastName }}
          <span class="date">{{ review.date }}</span>
        </h6>
        <p>
          {{ review.review }}
        </p>
      </div>
    </div>
    <div class="review-card">
      <svg
        v-for="index in 5"
        :key="index"
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        :fill="index < rating ? 'orange' : 'currentColor'"
        class="bi bi-star"
        viewBox="0 0 16 16"
      >
        <path
          d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"
        />
      </svg>
    </div>
  </div>
</template>

<script>
export default {
  props: ['review'],
  computed: {
    rating() {
      return Math.round(Math.random() * 5)
    },
  },
}
</script>

<style scoped>
.review-card {
  margin-top: 1.5rem;
  height: 4rem;
  display: flex;
}
.text-container {
  margin-left: 2rem;
}
img {
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
}
p {
  color: grey;
}
.date {
  color: gray;
  font-size: 11px;
}
</style>
