<template>
  <div class="container pt-5">
    <h1>Our Products</h1>
    <input
      type="text"
      v-model="searchText"
      placeholder="Search for items"
      id=""
    />
    <div class="d-flex flex-wrap p-2">
      <ProductCard
        v-for="product in filteredProducts"
        :key="product.id"
        :product="product"
      />
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      searchText: '',
    }
  },
  mounted() {
    this.$store.dispatch('fetchProducts')
  },
  computed: {
    filteredProducts() {
      return this.$store.state.products.filter((product) => {
        let name = product.name.toLowerCase()
        let description = product.description.toLowerCase()
        let searchTerm = this.searchText.toLowerCase()
        return name.includes(searchTerm) || description.includes(searchTerm)
      })
    },
  },
}
</script>

<style></style>
