<template>
  <div class="container">
    <Hero />
    <PromoDisplay :info="promoInfo" />
  </div>
</template>

<script>
export default {
  data() {
    return {
      promoInfo: {
        title: 'Our latest products',
        lower: 'The newest products in the market',
      },
    }
  },
  mounted() {
    this.$store.dispatch('fetchProducts')
  },
}
</script>
